Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation

better testing
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

Mention that the command should be ran in the root of the project directory (#1001)
  src/commands/lambda/README.md
Owners: @DataDog/documentation

update tag checking logic
  src/commands/stepfunctions/helpers.ts
  src/commands/stepfunctions/instrument.ts
Owners: @DataDog/serverless

Add tests, lots of refactoring to support new tests.
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/fixtures.ts
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/fixtures.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/prompt.ts
  src/commands/lambda/uninstrument.ts
  src/constants.ts
  src/helpers/__tests__/fileSystem.test.ts
  src/helpers/__tests__/flareFixtures.ts
  src/helpers/__tests__/prompt.test.ts
  src/helpers/prompt.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Fix test
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Rename `flareFixtures.ts` to `serverlessFixtures.ts`
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/lambda/__tests__/fixtures.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/helpers/__tests__/fileSystem.test.ts
  src/helpers/__tests__/serverlessFixtures.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Move authentication instructions to `cloud-run/renderer.ts`
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/renderer.ts
  src/commands/lambda/functions/commons.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Change zip file name depending on if it's `lambda` or `cloud-run` flare.
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
  src/constants.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Move `maskEnvVar()` to `helpers/utils.ts`
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/functions/commons.ts
  src/constants.ts
  src/helpers/utils.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[ci] Move `bump-ci-integrations` at end of release workflow
  .github/workflows/release.yml
Owners: @DataDog/datadog-ci

Move back and use `needs:` instead
  .github/workflows/release.yml
Owners: @DataDog/datadog-ci

[ci] Make `bump-ci-integrations` depend on `build` (#1003)
  .github/workflows/release.yml
Owners: @DataDog/datadog-ci

[dep] Bump `dd-trace` to `3.29.0`
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

[dep] Bump `dd-trace` to `3.29.0` (#1004)
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Rename files
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/constants.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/fixtures.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/prompt.ts
  src/commands/lambda/uninstrument.ts
  src/constants.ts
  src/helpers/__tests__/__snapshots__/fileSystem.test.ts.snap
  src/helpers/__tests__/__snapshots__/flareFunctions.test.ts.snap
  src/helpers/__tests__/__snapshots__/utils.test.ts.snap
  src/helpers/__tests__/fixtures.ts
  src/helpers/__tests__/flare.test.ts
  src/helpers/__tests__/fs.test.ts
  src/helpers/flare.ts
  src/helpers/fs.ts
  src/helpers/prompt.ts
  src/helpers/utils.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Delete utils.test.ts.snap
  src/helpers/__tests__/__snapshots__/utils.test.ts.snap
Owners: @DataDog/datadog-ci

Add helpers snapshots
  src/helpers/__tests__/__snapshots__/flare.test.ts.snap
  src/helpers/__tests__/__snapshots__/fs.test.ts.snap
Owners: @DataDog/datadog-ci

Update yarn.lock
  yarn.lock
Owners: @DataDog/datadog-ci

changes after review
  src/commands/junit/README.md
  src/helpers/app.ts
Owners: @DataDog/documentation, @DataDog/datadog-ci

remove double slash
  src/commands/junit/utils.ts
Owners: @DataDog/ci-app-libraries

Bump version
  package.json
Owners: @DataDog/datadog-ci

:construction: wip
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/utils.ts
Owners: @DataDog/synthetics-ct

Refactor config masking
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/constants.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/fixtures.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/functions/__snapshots__/commons.test.ts.snap
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
  src/helpers/__tests__/__snapshots__/utils.test.ts.snap
  src/helpers/__tests__/utils.test.ts
  src/helpers/utils.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update snapshots
  src/helpers/__tests__/__snapshots__/utils.test.ts.snap
Owners: @DataDog/datadog-ci

Nits
  package.json
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/__tests__/renderer.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/renderer.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/functions/commons.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update `SKIP_MASKING_CLOUDRUN_ENV_VARS`
  src/commands/cloud-run/constants.ts
Owners: @DataDog/datadog-ci

bump dd-trace to 3.29.1
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

test with clean git clone
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

other test
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

more tests
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

better purge
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

do not use la
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

better commands
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

more tests
  .github/workflows/ci.yml
  get-config.js
  package.json
Owners: @DataDog/datadog-ci

final test
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

final test 2
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

add check before running
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

Copy before masking in instrument/uninstrument
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

[synthetics] Fix max parallelization message
  src/commands/synthetics/__tests__/api.test.ts
  src/commands/synthetics/__tests__/reporters/__snapshots__/default.test.ts.snap
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
Owners: @DataDog/synthetics-ct

Clean snapshot
  src/commands/synthetics/__tests__/reporters/__snapshots__/default.test.ts.snap
Owners: @DataDog/synthetics-ct
