Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-worker, @DataDog/documentation

Refactor reporter message for API key dupes
  src/commands/dsyms/renderer.ts
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/renderer.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/react-native/renderer.ts
  src/commands/react-native/upload.ts
  src/helpers/validation.ts
Owners: @DataDog/rum-mobile, @DataDog/datadog-ci

Add tests for flutter and dsyms commands
  src/commands/dsyms/__tests__/upload.test.ts
  src/commands/flutter-symbols/__tests__/fixtures/config/datadog-ci.json
  src/commands/flutter-symbols/__tests__/upload.test.ts
Owners: @DataDog/rum-mobile

remove `aws-sdk@v2` and add modular packages from `v3`
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

migrate `tags.ts` to v3
  src/commands/lambda/__tests__/tags.test.ts
  src/commands/lambda/tags.ts
Owners: @DataDog/serverless

migrate `loggroup.ts` to v3
  src/commands/lambda/__tests__/loggroup.test.ts
  src/commands/lambda/loggroup.ts
Owners: @DataDog/serverless

update mockers
  src/commands/lambda/__tests__/fixtures.ts
Owners: @DataDog/serverless

update `commons.ts` to v3
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/functions/commons.ts
Owners: @DataDog/serverless

update `interfaces.ts`
  src/commands/lambda/interfaces.ts
Owners: @DataDog/serverless

update `functions/instrument.ts` to v3
  src/commands/lambda/__tests__/functions/instrument.part1.test.ts
  src/commands/lambda/functions/instrument.ts
Owners: @DataDog/serverless

update `functions/uninstrument.ts` to v3
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/functions/uninstrument.ts
Owners: @DataDog/serverless

update `instrument.ts` to v3
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

update `uninstrument.ts` to v3
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

add licenses
  LICENSE-3rdparty.csv
  sarif-datadog-ci.sarif
Owners: @DataDog/datadog-ci

Do not read entire file into memory in `uploadMobileApplications`
  src/commands/synthetics/__tests__/mobile.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/mobile.ts
Owners: @DataDog/synthetics-worker

Remove unused import from test
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @DataDog/synthetics-worker

Change yarn publish into yarn npm publish.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @DataDog/datadog-ci

Update env var for publishing to NPM.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Owners: @DataDog/datadog-ci

Remove unnecessary function doc
  src/commands/synthetics/mobile.ts
Owners: @DataDog/synthetics-worker

DOCS-5128
  src/commands/synthetics/README.md
Owners: @DataDog/documentation

Fix missing await.
  src/commands/git-metadata/gitdb.ts
Owners: @DataDog/source-code-integration

Doc Review
  src/commands/synthetics/README.md
Owners: @DataDog/documentation

Bump to v2.5.2-alpha2 release.
  package.json
Owners: @DataDog/datadog-ci

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-worker


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-worker
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-worker


# Documentation
*.md  @DataDog/documentation
