Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

[lambda] Update class members
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

[metric] Update class members
  src/commands/metric/metric.ts
Owners: @DataDog/ci-app-libraries

Generate insights file and tests
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
  src/constants.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[sourcemaps] Update class members
  src/commands/sourcemaps/upload.ts
Owners: @DataDog/source-code-integration

[stepfunctions] Update class members
  src/commands/stepfunctions/instrument.ts
  src/commands/stepfunctions/uninstrument.ts
Owners: @DataDog/serverless

[sarif] Update class members
  src/commands/sarif/upload.ts
Owners: @DataDog/static-analysis-core

[react-native] Update class members
  src/commands/react-native/codepush.ts
  src/commands/react-native/upload.ts
  src/commands/react-native/xcode.ts
Owners: @DataDog/rum-mobile

[tag] Update class members
  src/commands/tag/tag.ts
Owners: @DataDog/ci-app-libraries

[version] Update class members
  src/commands/version/cli.ts
Owners: @DataDog/datadog-ci

[synthetics] Update class members
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/upload-application-command.ts
Owners: @DataDog/synthetics-ct

Small changes
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/reporters/default.ts
Owners: @DataDog/synthetics-ct

[trace] Update class members
  src/commands/trace/trace.ts
Owners: @DataDog/ci-app-libraries

Create a new shared `CommandContext` interface
  src/commands/stepfunctions/__tests__/fixtures/cli.ts
  src/commands/stepfunctions/__tests__/instrument.test.ts
  src/commands/stepfunctions/__tests__/uninstrument.test.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/reporters/junit.ts
  src/helpers/interfaces.ts
Owners: @DataDog/serverless, @DataDog/synthetics-ct, @DataDog/datadog-ci

Refactor cascade into `validation.isInteger()`
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/junit/upload.ts
  src/commands/react-native/upload.ts
  src/commands/sarif/upload.ts
  src/commands/sourcemaps/upload.ts
  src/commands/synthetics/run-tests-command.ts
  src/helpers/validation.ts
Owners: @DataDog/rum-mobile, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/datadog-ci

Replace `parseOptionalInteger` with `typanion` validation
  src/commands/synthetics/run-tests-command.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/utils.ts
Owners: @DataDog/synthetics-ct, @DataDog/datadog-ci

Remove pagination
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Update comment
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Explain 500 and 403 errors
  src/helpers/__tests__/flare.test.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci

Fix lint
  src/helpers/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Format all files
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/junit/upload.ts
  src/commands/react-native/upload.ts
  src/commands/sarif/upload.ts
  src/commands/sourcemaps/upload.ts
  src/commands/stepfunctions/uninstrument.ts
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/run-tests-command.ts
  src/helpers/interfaces.ts
  src/helpers/utils.ts
  src/helpers/validation.ts
Owners: @DataDog/rum-mobile, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/source-code-integration, @DataDog/serverless, @DataDog/synthetics-ct, @DataDog/datadog-ci

Fix all unit tests
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/flutter-symbols/__tests__/upload.test.ts
  src/commands/gate/__tests__/evaluate.test.ts
  src/commands/git-metadata/__tests__/upload.test.ts
  src/commands/junit/__tests__/upload.test.ts
  src/commands/junit/upload.ts
  src/commands/lambda/__tests__/fixtures.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/stepfunctions/__tests__/awsCommands.test.ts
  src/commands/stepfunctions/__tests__/fixtures/aws-resources.ts
  src/commands/stepfunctions/__tests__/fixtures/cli.ts
  src/commands/stepfunctions/__tests__/helpers.test.ts
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/tunnel/websocket.test.ts
  src/commands/trace/__tests__/trace.test.ts
  src/helpers/__tests__/fixtures.ts
  src/helpers/interfaces.ts
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/ci-app-libraries, @DataDog/source-code-integration, @DataDog/serverless, @DataDog/synthetics-ct

Remove superfluous `as any`
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Bump typescript version
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Fix linting
  .eslintrc.js
  package.json
  src/commands/lambda/flare.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/serverless

Upgrade Jest to 29
  jest.config.js
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Use any for errors in catch clauses
  tsconfig.json
Owners: @DataDog/datadog-ci

Fix a TS error
  src/commands/trace/trace.ts
Owners: @DataDog/ci-app-libraries

Remove custom jest matcher
  jest.config.js
  package.json
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/types/index.d.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/synthetics-ct

Update snapshots
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/instrument.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/uninstrument.test.ts.snap
  src/commands/lambda/__tests__/functions/__snapshots__/commons.test.ts.snap
  src/commands/lambda/__tests__/functions/instrument.part1.test.ts
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/loggroup.test.ts
  src/commands/lambda/__tests__/tags.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/synthetics/__tests__/__snapshots__/utils.test.ts.snap
  src/commands/synthetics/__tests__/reporters/__snapshots__/default.test.ts.snap
  src/helpers/__tests__/__snapshots__/plist.test.ts.snap
Owners: @DataDog/datadog-ci, @DataDog/serverless, @DataDog/synthetics-ct

clearAllMocks is redundant as already in jest config
  src/commands/flutter-symbols/__tests__/upload.test.ts
Owners: @DataDog/rum-mobile

Fix typo and unused import
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/utils.ts
Owners: @DataDog/synthetics-ct

Fix failing tests because of new behavior of restoreAllMocks
  src/commands/react-native/__tests__/codepush.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
Owners: @DataDog/rum-mobile, @DataDog/synthetics-ct

Update `jest.mocked()`
  src/commands/synthetics/__tests__/tunnel/tunnel.test.ts
Owners: @DataDog/synthetics-ct

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Add `eslint-plugin-jest` to dev dependencies
  .eslintrc.js
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Fix auto-fixable issues
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/flutter-symbols/__tests__/upload.test.ts
  src/commands/git-metadata/__tests__/library.test.ts
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/tunnel/tunnel.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/helpers/__tests__/plist.test.ts
  src/helpers/__tests__/retry.test.ts
  src/helpers/__tests__/upload.test.ts
  src/helpers/__tests__/utils.test.ts
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/source-code-integration, @DataDog/synthetics-ct

Remove `done` callback
  src/commands/react-native/__tests__/interfaces.test.ts
Owners: @DataDog/rum-mobile

Disable `jest/no-conditional-expect` locally
  src/helpers/__tests__/ci.test.ts
Owners: @DataDog/ci-app-libraries, @DataDog/synthetics-ct

[lambda] Fix renderer module manual mocks
  src/commands/lambda/__mocks__/instrument-uninstrument-renderer.js
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/renderers/__mocks__/instrument-uninstrument-renderer.ts
Owners: @DataDog/serverless

Remove `fail()` usages
  src/helpers/git/__tests__/format-git-sourcemaps-data.test.ts
Owners: @DataDog/ci-app-libraries, @DataDog/source-code-integration

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
