Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation

Fix `--skip-git-metadata-upload=0`
  src/commands/junit/__tests__/upload.test.ts
  src/commands/junit/upload.ts
  src/commands/junit/utils.ts
Owners: @DataDog/ci-app-libraries

Use `env` and `tolerateBoolean` options
  src/commands/junit/upload.ts
Owners: @DataDog/ci-app-libraries

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Restore template strings in inline snapshots
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/__tests__/tags.test.ts
Owners: @DataDog/serverless

Update src/commands/cloud-run/interfaces.ts
  src/commands/cloud-run/interfaces.ts
Owners: @DataDog/datadog-ci

Fix yarn versions
  package.json
Owners: @DataDog/datadog-ci

Remove `agent-base` package
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Update license
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Update snapshots
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Fix test order
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Don't exit program when `generateInsightsFile()` errors
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[cloud-run][flare] Get recent logs (#1011)
  LICENSE-3rdparty.csv
  package.json
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/constants.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/serverless

Fix grammar
  src/helpers/__tests__/flare.test.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci

Summarize configs when printing to terminal
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update comment
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Refactoring
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/__tests__/renderer.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/constants.ts
  src/helpers/__tests__/flare.test.ts
  src/helpers/__tests__/fs.test.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Remove redundant renderer tests
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/renderer.test.ts
Owners: @DataDog/datadog-ci

Lint
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

release 2.18.1
  package.json
Owners: @DataDog/datadog-ci

[dep] Bump `dd-trace` to 3.32.1
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

[dep] Bump `dd-trace` to 3.32.1 (#1027)
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Fix `yarn.lock`
  yarn.lock
Owners: @DataDog/datadog-ci

[test] Fix a `MaxListenersExceededWarning` in unit tests
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Fix `yarn.lock`
  yarn.lock
Owners: @DataDog/datadog-ci

[synthetics] Use fake timers for api retries unit tests (#1018)
  src/commands/synthetics/__tests__/api.test.ts
Owners: @DataDog/synthetics-ct

Add `400` to `sendToDatadog()` error checking, convert to switch statement, text refactoring
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/flare.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[chore] Upgrade TypeScript and Jest (#1022)
  .eslintrc.js
  LICENSE-3rdparty.csv
  jest.config.js
  package.json
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/instrument.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/uninstrument.test.ts.snap
  src/commands/lambda/__tests__/functions/__snapshots__/commons.test.ts.snap
  src/commands/lambda/__tests__/functions/instrument.part1.test.ts
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/loggroup.test.ts
  src/commands/lambda/__tests__/tags.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/flare.ts
  src/commands/react-native/__tests__/codepush.test.ts
  src/commands/synthetics/__tests__/__snapshots__/utils.test.ts.snap
  src/commands/synthetics/__tests__/reporters/__snapshots__/default.test.ts.snap
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/tunnel/tunnel.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/utils.ts
  src/commands/trace/trace.ts
  src/helpers/__tests__/__snapshots__/plist.test.ts.snap
  src/types/index.d.ts
  tsconfig.json
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/serverless, @DataDog/rum-mobile, @DataDog/synthetics-ct, @DataDog/ci-app-libraries

Refactor
  src/commands/gate/__tests__/evaluate.test.ts
  src/commands/gate/evaluate.ts
  src/commands/gate/interfaces.ts
Owners: @DataDog/ci-app-libraries

Disable `jest/no-interpolation-in-snapshots` rule
  .eslintrc.js
Owners: @DataDog/datadog-ci

[chore] Add eslint plugin for Jest (#1023)
  .eslintrc.js
  LICENSE-3rdparty.csv
  package.json
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/flutter-symbols/__tests__/upload.test.ts
  src/commands/git-metadata/__tests__/library.test.ts
  src/commands/lambda/__mocks__/instrument-uninstrument-renderer.js
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/renderers/__mocks__/instrument-uninstrument-renderer.ts
  src/commands/react-native/__tests__/interfaces.test.ts
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/tunnel/tunnel.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/helpers/__tests__/ci.test.ts
  src/helpers/__tests__/plist.test.ts
  src/helpers/__tests__/retry.test.ts
  src/helpers/__tests__/upload.test.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/git/__tests__/format-git-sourcemaps-data.test.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/source-code-integration, @DataDog/serverless, @DataDog/synthetics-ct, @DataDog/ci-app-libraries

Align all dry run CLI arguments to be `--dry-run`
  src/commands/cloud-run/flare.ts
  src/commands/lambda/README.md
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/datadog-ci, @DataDog/documentation, @DataDog/serverless

[cloud-run][flare] Autodiscover project files and allow additional files (#1019)
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/__tests__/renderer.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/prompt.ts
  src/constants.ts
  src/helpers/__tests__/__snapshots__/flare.test.ts.snap
  src/helpers/__tests__/flare.test.ts
  src/helpers/__tests__/fs.test.ts
  src/helpers/__tests__/prompt.test.ts
  src/helpers/flare.ts
  src/helpers/prompt.ts
  src/helpers/renderer.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Provide `version` as a shared and exported constant
  src/cli.ts
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/__tests__/upload.test.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/git-metadata/library.ts
  src/commands/git-metadata/upload.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/tags.ts
  src/commands/react-native/upload.ts
  src/commands/react-native/utils.ts
  src/commands/sourcemaps/upload.ts
  src/commands/stepfunctions/instrument.ts
  src/commands/version/cli.ts
  src/helpers/flare.ts
  src/helpers/version.ts
  src/index.ts
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/source-code-integration, @DataDog/serverless

Add `--version` and `--help` root arguments
  src/cli.ts
Owners: @DataDog/datadog-ci

Add a usage with `category` and `description` for all commands
  src/commands/cloud-run/flare.ts
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/gate/evaluate.ts
  src/commands/git-metadata/upload.ts
  src/commands/junit/upload.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
  src/commands/metric/metric.ts
  src/commands/react-native/codepush.ts
  src/commands/react-native/upload.ts
  src/commands/react-native/xcode.ts
  src/commands/sarif/upload.ts
  src/commands/sourcemaps/upload.ts
  src/commands/stepfunctions/instrument.ts
  src/commands/stepfunctions/uninstrument.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/upload-application-command.ts
  src/commands/tag/tag.ts
  src/commands/trace/trace.ts
  src/commands/version/cli.ts
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/ci-app-libraries, @DataDog/source-code-integration, @DataDog/serverless, @DataDog/static-analysis-core, @DataDog/synthetics-ct

Add unit tests for `src/cli.ts`
  src/__tests__/cli.test.ts
  src/cli.ts
Owners: @DataDog/datadog-ci

Add timeout
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Align all dry run CLI arguments to be `--dry-run` (#1029)
  src/commands/cloud-run/flare.ts
  src/commands/lambda/README.md
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/datadog-ci, @DataDog/documentation, @DataDog/serverless

- Add labels to insights file - Split up environment variables when there are multiple containers
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Add test for `getServiceLocationProjectFromName`
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci
