Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/source-code-integration, @DataDog/serverless, @DataDog/synthetics-ct, @DataDog/documentation

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands (grouped by product)

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile
### Related to RUM, but maintained by Source Code Integration for legacy reasons
src/commands/sourcemaps       @DataDog/source-code-integration

## Serverless
src/commands/lambda         @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless
src/commands/cloud-run      @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation

Update wording
  src/commands/cloud-run/README.md
  src/commands/lambda/README.md
Owners: @DataDog/documentation

Update --start and --end wording
  src/commands/cloud-run/README.md
  src/commands/lambda/README.md
Owners: @DataDog/documentation

[synthetics] Add details and examples in `--help` (#1032)
  LICENSE-3rdparty.csv
  package.json
  src/commands/synthetics/README.md
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/upload-application-command.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/documentation, @DataDog/synthetics-ct

change apikey vaue to accept DD_API_KEY
  src/commands/lambda/functions/instrument.ts
Owners: @DataDog/serverless

Update src/commands/sbom/README.md
  src/commands/sbom/README.md
Owners: @DataDog/documentation

Update src/commands/sbom/README.md
  src/commands/sbom/README.md
Owners: @DataDog/documentation

Update src/commands/sbom/README.md
  src/commands/sbom/README.md
Owners: @DataDog/documentation

Update src/commands/sbom/README.md
  src/commands/sbom/README.md
Owners: @DataDog/documentation

fix conditional so that error isn't thrown when DD_API_KEY is used
  src/commands/lambda/functions/commons.ts
Owners: @DataDog/serverless

Add 'Configuration' section
  src/commands/cloud-run/README.md
Owners: @DataDog/documentation

Remove unused links from footer
  src/commands/cloud-run/README.md
  src/commands/lambda/README.md
Owners: @DataDog/documentation

fix formatting
  src/commands/sbom/README.md
Owners: @DataDog/documentation

Update src/commands/sbom/README.md
  src/commands/sbom/README.md
Owners: @DataDog/documentation
