Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @Datadog/rum-mobile, @DataDog/rum-browser, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/profiling-native, @DataDog/documentation

Move `execute` from dsyms.utils to top level utils
  src/commands/dsyms/utils.ts
  src/commands/elf-symbols/elf.ts
  src/commands/elf-symbols/upload.ts
  src/helpers/utils.ts
Owners: @DataDog/rum-mobile, @DataDog/profiling-native, @DataDog/datadog-ci

Make executeTests backwards compatible
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
  src/commands/synthetics/utils/internal.ts
Owners: @DataDog/synthetics-ct

do some refactoring
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/test.test.ts
  src/commands/synthetics/api.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
Owners: @DataDog/synthetics-ct

fix tests
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
  src/commands/synthetics/utils/public.ts
Owners: @DataDog/synthetics-ct

make sure that global is actually there
  src/commands/synthetics/utils/internal.ts
Owners: @DataDog/synthetics-ct

fix some more tests
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
  src/commands/synthetics/utils/internal.ts
Owners: @DataDog/synthetics-ct

add test covering the issue
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
Owners: @DataDog/synthetics-ct

improve check function
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
  src/commands/synthetics/utils/internal.ts
Owners: @DataDog/synthetics-ct

Remove old tslint config
  tslint.json
Owners: @DataDog/datadog-ci

Remove unused legal files
  LEGAL
  bin/prepend_license_header.sh
Owners: @DataDog/datadog-ci

make the legacy object extend the new version
  src/commands/synthetics/interfaces.ts
Owners: @DataDog/synthetics-ct

make it an interface again
  src/commands/synthetics/interfaces.ts
Owners: @DataDog/synthetics-ct

[chores] Remove old unused files (#1294)
  LEGAL
  bin/prepend_license_header.sh
  tslint.json
Owners: @DataDog/datadog-ci

[chores] Improve standalone binary tests
  src/__tests__/cli.test.ts
  standalone-e2e/standalone-binary.test.ts
Owners: @DataDog/datadog-ci

add empty line
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
Owners: @DataDog/synthetics-ct

Just make global and defaultTestConfigs optional
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/compatibility.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
  src/commands/synthetics/test.ts
  src/commands/synthetics/utils/internal.ts
  src/commands/synthetics/utils/public.ts
Owners: @DataDog/synthetics-ct

Stop it from double warning about global being deprecated
  src/commands/synthetics/compatibility.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/run-tests-lib.ts
Owners: @DataDog/synthetics-ct

Use definite assignment assertion operator on `reporter`
  src/commands/synthetics/run-tests-command.ts
Owners: @DataDog/synthetics-ct

Improve deep copy comments
  src/commands/synthetics/run-tests-command.ts
  src/commands/synthetics/upload-application-command.ts
Owners: @DataDog/synthetics-ct

Fix path mock warning
  src/commands/synthetics/__tests__/utils/public.test.ts
Owners: @DataDog/synthetics-ct

Fix all warnings in `cli.test.ts`
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/fixtures.ts
  src/helpers/__tests__/fixtures.ts
Owners: @DataDog/synthetics-ct, @DataDog/datadog-ci

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands (grouped by product)

## CI Visibility (label: ci-visibility)
src/commands/junit         @DataDog/ci-app-libraries
src/commands/gate          @DataDog/ci-app-libraries
src/commands/metric        @DataDog/ci-app-libraries
src/commands/tag           @DataDog/ci-app-libraries
src/commands/trace         @DataDog/ci-app-libraries
src/commands/dora          @DataDog/ci-app-libraries
src/commands/deployment    @DataDog/ci-app-libraries

## Static Analysis (label: static-analysis)
src/commands/sarif   @DataDog/static-analysis-core
src/commands/sbom    @DataDog/static-analysis-core

## RUM (label: rum)
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/unity-symbols    @Datadog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile
src/commands/sourcemaps       @DataDog/rum-browser

## Serverless (label: serverless)
src/commands/lambda         @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless
src/commands/cloud-run      @DataDog/serverless

## Source Code Integration (label: source-code-integration)
src/commands/git-metadata  @DataDog/source-code-integration

## Synthetics (label: synthetics)
src/commands/synthetics  @DataDog/synthetics-ct

## Profiling (label: profiling)
src/commands/elf-symbols  @DataDog/profiling-native

# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
