Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/documentation, @DataDog/ci-app-tracers, @DataDog/rum-mobile

.github/CODEOWNERS:

* @yoannmoinet @m-rousse

src/commands
src/commands/synthetics  @m-rousse @DataDog/synthetics-worker
src/commands/lambda @DataDog/serverless
src/commands/sourcemaps/ @DataDog/source-code-integration
*.md @DataDog/documentation
src/commands/junit @DataDog/ci-app-tracers
src/commands/dsyms @DataDog/rum-mobile
src/helpers/ci.ts @DataDog/ci-app-tracers
src/helpers/git.ts @DataDog/ci-app-tracers
src/helpers/user-provided-git.ts @DataDog/ci-app-tracers
src/helpers/__tests__/ci-env @DataDog/ci-app-tracers
src/helpers/__tests__/ci.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/git.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/user-provided-git.test.ts @DataDog/ci-app-tracers

Reword comment
  src/commands/trace/__tests__/trace.test.ts
Owners: none

Add Jenkins support for custom spans (#361)
  src/commands/trace/__tests__/trace.test.ts
  src/commands/trace/interfaces.ts
  src/commands/trace/trace.ts
Owners: none

refactor instrumentationSettings code for env vars that need to be updated
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

add pure function for regex match and modify expression for tags
  src/commands/lambda/constants.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add lowercasing for tags
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add first draft to grab all functions
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add unit tests for sentenceMatchesRegex with complying and non-complying tags
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

RUMM-1608 if dwarfdump throws, error is caught
  src/commands/dsyms/__tests__/utils.test.ts
  src/commands/dsyms/upload.ts
  src/commands/dsyms/utils.ts
Owners: @DataDog/rum-mobile

add regex support with the --functions-regex or -fR command to instrument multiple functions
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

remove unused function and format
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

move FunctionConfiguration to a function so we can reuse it in getLambdaConfigs
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

reformat message for missing tags
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add describe for getFunctionConfiguration and getLambdaConfigsFromRegEx
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

add correct message according to the number of tags missing
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

refactor tests from getLambdaConfigs, moved to getFunctionConfiguration
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

[synthetics-command] override locations in getTestsList
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics-command] lint
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics-command] Add DATADOG_SYNTHETICS_LOCATIONS env option to README
  src/commands/synthetics/README.md
  src/commands/synthetics/run-test.ts
Owners: @DataDog/documentation, @m-rousse, @DataDog/synthetics-worker

refactor unit tests and created for fetching lambda from regex
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

move FunctionConfiguration to a function so we can reuse it in getLambdaConfigs
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add first draft to grab all functions
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

remove unused function and format
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

refactor unit tests and created for fetching lambda from regex
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

refactor tests from getLambdaConfigs, moved to getFunctionConfiguration
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

add describe for getFunctionConfiguration and getLambdaConfigsFromRegEx
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

RUMM-1608 Invalid file warning message added
  src/commands/dsyms/__tests__/utils.test.ts
  src/commands/dsyms/renderer.ts
  src/commands/dsyms/upload.ts
  src/commands/dsyms/utils.ts
Owners: @DataDog/rum-mobile

add first draft to grab all functions
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

[synthetics] upgrade yamux-js to 0.1.0
  package.json
  yarn.lock
Owners: @yoannmoinet, @m-rousse

fix merge, add unit test for call retry on many functions instrumentation
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

add boilerplate for uninstrument command
  src/commands/lambda/index.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Modified regex to look for git.commit.sha and also uploads commit
  src/commands/lambda/constants.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

RUMM-1608 PR comments addressed
  src/commands/dsyms/__tests__/utils.test.ts
  src/commands/dsyms/utils.ts
Owners: @DataDog/rum-mobile

Add xml dependency
  package.json
  yarn.lock
Owners: @yoannmoinet, @m-rousse

Add suite/name metadata to runs
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Add jUnit reporter
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

wip
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Update typings
  src/commands/synthetics/__tests__/api.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Add stats to runs and steps
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Linting
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Remove length check
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker
