Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

Make `maskConfig()` return a copy of config instead of modifying in place.
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Bump dd-trace to 3.29.1 (#1006)
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

Fix lint
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Add runtime, layers, codesize, and package size to the generated `INSIGHTS.md`
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/utils.ts
Owners: @DataDog/serverless, @DataDog/datadog-ci

Update `new Date()` mock
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Fix `new Date()` mock
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Add comment explanation
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Add missing fields, separate CLI data vs Lambda config data
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Refactoring
  src/commands/lambda/flare.ts
  src/helpers/utils.ts
Owners: @DataDog/serverless, @DataDog/datadog-ci

Enum pascal case
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Stop reusing constants, refactor `getFramework()`
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Rename `Frameworks` enum
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Rename `FRAMEWORK_MAPPINGS`
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Rename `FRAMEWORK_FILES_MAPPING`
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Nit
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Update snapshot
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
Owners: @DataDog/serverless

[lambda][flare] Generate insights file (#977)
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/utils.ts
Owners: @DataDog/serverless, @DataDog/datadog-ci

Nit
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Explain errors, require caseID and email in dry mode
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

[synthetics] Fix max parallelization message (#1007)
  src/commands/synthetics/__tests__/api.test.ts
  src/commands/synthetics/__tests__/reporters/__snapshots__/default.test.ts.snap
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/run-tests-lib.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
Owners: @DataDog/synthetics-ct

[SYNTH-10381] add browser test timeout
  src/commands/synthetics/README.md
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/utils.ts
Owners: @DataDog/documentation, @DataDog/synthetics-ct

use uuid for sarif
  src/commands/sarif/api.ts
Owners: @DataDog/static-analysis-core

Review changes
  .datadog-ci/service_config.json
  src/__mocks__/util.js
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/constants.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/renderer.ts
  src/commands/lambda/__tests__/functions/instrument.part1.test.ts
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/functions/instrument.ts
  src/commands/lambda/functions/uninstrument.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/prompt.ts
  src/constants.ts
  src/helpers/__tests__/fs.test.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Remove config
  .datadog-ci/service_config.json
Owners: @DataDog/datadog-ci

Get cloud run logs
  package.json
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
  src/constants.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/serverless

Add pagination to get more than 1k logs
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

remove unused files
  src/helpers/__tests__/file.test.ts
  src/helpers/file.ts
Owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries

Wait from Evaluate
  src/commands/gate/api.ts
  src/commands/gate/evaluate.ts
  src/commands/gate/interfaces.ts
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Refactor, add error handling, and tests for `getLogs()`
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
Owners: @DataDog/datadog-ci

Add tests for `saveLogsFile()`
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

[Static analysis] Use uuid for sarif's report filename (#1010)
  src/commands/sarif/api.ts
  src/helpers/__tests__/file.test.ts
  src/helpers/file.ts
Owners: @DataDog/static-analysis-core, @DataDog/datadog-ci, @DataDog/ci-app-libraries

add e2e tests
  .github/workflows/ci.yml
  .github/workflows/e2e/junit-reports/junit-2.xml
  .github/workflows/e2e/junit-reports/junit.xml
  .github/workflows/e2e/sarif-reports/sarif-report-2.sarif
  .github/workflows/e2e/sarif-reports/sarif-report.sarif
  .gitignore
Owners: @DataDog/datadog-ci

Update wait logic
  src/commands/gate/__tests__/evaluate.test.ts
  src/commands/gate/api.ts
  src/commands/gate/evaluate.ts
  src/commands/gate/interfaces.ts
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

remove imports
  src/commands/gate/evaluate.ts
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Fix dependency conflicts by explicitly adding the `agent-base` and `http-proxy-agent` packages.
  package.json
  src/commands/cloud-run/flare.ts
  yarn.lock
Owners: @DataDog/datadog-ci

Add new packages to LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Fix license
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Use `@google-cloud/logging-min` instead of `@google-cloud/logging`
  LICENSE-3rdparty.csv
  package.json
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  yarn.lock
Owners: @DataDog/datadog-ci

Fix test
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

fix types
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
