Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

include attempt
  src/commands/gate/evaluate.ts
  src/helpers/retry.ts
Owners: @DataDog/ci-app-libraries, @DataDog/datadog-ci

add python 3.11 support
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/constants.ts
Owners: @DataDog/serverless

add python 3.11 support (#1014)
  src/commands/lambda/__tests__/functions/instrument.part2.test.ts
  src/commands/lambda/constants.ts
Owners: @DataDog/serverless

refactor
  src/commands/gate/__tests__/evaluate.test.ts
  src/commands/gate/api.ts
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Refactor getting logs so and error doesn't end the program. Just skip
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Refactor, fix tests
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
Owners: @DataDog/datadog-ci

Add test
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
Owners: @DataDog/datadog-ci

Fix `lambda/flare.ts` prompt try/catch
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Refactor
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Fix warnings
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

[CIAPP] add azure pipelines in the readme
  src/commands/metric/README.md
  src/commands/tag/README.md
Owners: @DataDog/documentation

[static analysis][ci-visibility] Add e2e tests to sarif and junit uploads (#1012)
  .github/workflows/ci.yml
  .github/workflows/e2e/junit-reports/junit-2.xml
  .github/workflows/e2e/junit-reports/junit.xml
  .github/workflows/e2e/sarif-reports/sarif-report-2.sarif
  .github/workflows/e2e/sarif-reports/sarif-report.sarif
  .gitignore
Owners: @DataDog/datadog-ci

Add DD_APP_KEY to gate command
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Apply suggestions from code review
  src/commands/metric/README.md
  src/commands/tag/README.md
Owners: @DataDog/documentation

Apply suggestions from code review
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

PR feedback
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Skip logs that aren't HTTP requests and don't have a text payload
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Fix lint
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Refactor request limit checking
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Refactor
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
Owners: @DataDog/datadog-ci

Update src/commands/gate/evaluate.ts
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

fix formatting
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

[synthetics] Use fake timers for api retries unit tests
  src/commands/synthetics/__tests__/api.test.ts
Owners: @DataDog/synthetics-ct

Fix copy paste
  src/commands/synthetics/__tests__/api.test.ts
Owners: @DataDog/synthetics-ct

Resolve
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Nit
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Autodiscover project files and accept additional files
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/prompt.ts
  src/constants.ts
  src/helpers/__tests__/__snapshots__/flare.test.ts.snap
  src/helpers/__tests__/flare.test.ts
  src/helpers/__tests__/prompt.test.ts
  src/helpers/flare.ts
  src/helpers/prompt.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Remove unnecessary `advanceTimers`
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Create `renderProjectFiles()` method to reduce code duplication
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/renderer.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/flare.ts
  src/helpers/renderer.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Create `renderAdditionalFiles()` method to reduce code duplication
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/__snapshots__/renderer.test.ts.snap
  src/commands/cloud-run/__tests__/renderer.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/renderer.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

- Use `@google-cloud/logging` instead of `@google-cloud/logging-min`. - Add JSdoc headers to interfaces.ts - Fix `logFileMappings` to have the fileName be the key instead of the value - Nits
  package.json
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/cloud-run/interfaces.ts
  yarn.lock
Owners: @DataDog/datadog-ci

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Fix mock
  src/commands/cloud-run/__tests__/flare.test.ts
Owners: @DataDog/datadog-ci

Bump clipanion version
  package.json
  yarn.lock
Owners: @DataDog/datadog-ci

[cloud-run] Update class members
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

[dsyms] Update class members
  src/commands/dsyms/upload.ts
Owners: @DataDog/rum-mobile

[flutter-symbols] Update class members
  src/commands/flutter-symbols/upload.ts
Owners: @DataDog/rum-mobile

[gate] Update class members
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

[git-metadata] Update class members
  src/commands/git-metadata/upload.ts
Owners: @DataDog/source-code-integration

[junit] Update class members
  src/commands/junit/upload.ts
Owners: @DataDog/ci-app-libraries

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
