Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

Reorder lines for readability
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Add recent revisions to INSIGHTS.md file
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Provide `version` as a shared and exported constant (#1030)
  src/cli.ts
  src/commands/dsyms/upload.ts
  src/commands/flutter-symbols/__tests__/upload.test.ts
  src/commands/flutter-symbols/upload.ts
  src/commands/git-metadata/library.ts
  src/commands/git-metadata/upload.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/tags.ts
  src/commands/react-native/upload.ts
  src/commands/react-native/utils.ts
  src/commands/sourcemaps/upload.ts
  src/commands/stepfunctions/instrument.ts
  src/commands/version/cli.ts
  src/helpers/flare.ts
  src/helpers/version.ts
  src/index.ts
Owners: @DataDog/datadog-ci, @DataDog/rum-mobile, @DataDog/source-code-integration, @DataDog/serverless

Refactor
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

format
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Update src/commands/gate/__tests__/evaluate.test.ts
  src/commands/gate/__tests__/evaluate.test.ts
Owners: @DataDog/ci-app-libraries

Fix merge conflict issue
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

[flare] UX Improvements (#1008)
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/flare.test.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update snapshot
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
Owners: @DataDog/serverless

Resolve comments
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Add comment explaining `const revisions = (await client.listRevisions(request))[0]`
  src/commands/cloud-run/flare.ts
Owners: @DataDog/datadog-ci

Add optional --start and --end flags to specify a time range to get cloud-run logs from
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/__snapshots__/flare.test.ts.snap
  src/helpers/__tests__/flare.test.ts
  src/helpers/flare.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[cloud-run][flare] Generate insights file (#1020)
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/cloud-run/__tests__/flare.test.ts
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/constants.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

[upload-application] Add details, examples and argument descriptions
  src/commands/synthetics/README.md
  src/commands/synthetics/upload-application-command.ts
Owners: @DataDog/documentation, @DataDog/synthetics-ct

[run-tests] Add details, examples and argument descriptions
  LICENSE-3rdparty.csv
  package.json
  src/commands/synthetics/run-tests-command.ts
  yarn.lock
Owners: @DataDog/datadog-ci, @DataDog/synthetics-ct

Improve "Run tests" section of the README
  src/commands/synthetics/README.md
Owners: @DataDog/documentation

Replace `__` by `_` for unused arg
  src/__tests__/cli.test.ts
Owners: @DataDog/datadog-ci

Fix `category` for the `sourcemaps upload` command
  src/commands/sourcemaps/upload.ts
Owners: @DataDog/source-code-integration

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation
