Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/documentation, @DataDog/ci-app-tracers, @DataDog/rum-mobile

add jest-matcher-specific-error to licenses
  LICENSE-3rdparty.csv
Owners: @yoannmoinet, @m-rousse

[ci-app] Capture error message
  src/commands/junit/upload.ts
  src/commands/trace/interfaces.ts
  src/commands/trace/trace.ts
Owners: @DataDog/ci-app-tracers

remove customer matcher
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Refactor retry http request code
  src/commands/junit/upload.ts
  src/commands/trace/trace.ts
  src/helpers/__tests__/retry.test.ts
  src/helpers/retry.ts
  src/helpers/upload.ts
Owners: @DataDog/ci-app-tracers, @yoannmoinet, @m-rousse

lint changes
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/__tests__/websocket.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

fix linting
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

PR feedback
  src/helpers/__tests__/retry.test.ts
  src/helpers/retry.ts
Owners: @yoannmoinet, @m-rousse

export type declarations in tsconfig
  src/commands/synthetics/interfaces.ts
  src/helpers/utils.ts
  tsconfig.json
Owners: @m-rousse, @DataDog/synthetics-worker, @yoannmoinet

PR feedback
  src/commands/trace/trace.ts
  src/helpers/__tests__/retry.test.ts
Owners: @yoannmoinet, @m-rousse

change SyntheticsCIconfig interface
  src/commands/synthetics/cli.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Update README.md
  src/commands/sourcemaps/README.md
Owners: @DataDog/documentation

Rename variable
  src/helpers/retry.ts
Owners: @yoannmoinet, @m-rousse

[ci-app] Capture error message (#395)
  src/commands/junit/upload.ts
  src/commands/trace/interfaces.ts
  src/commands/trace/trace.ts
  src/helpers/__tests__/retry.test.ts
  src/helpers/retry.ts
  src/helpers/upload.ts
Owners: @DataDog/ci-app-tracers, @yoannmoinet, @m-rousse

add documentation for unified service tagging in lambda
  src/commands/lambda/README.md
Owners: @DataDog/documentation

address last comments
  jest.config.js
  package.json
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/errors.ts
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/utils.ts
  src/helpers/utils.ts
Owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker

throw critical error if no triggers.results
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

fix linting
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

address final PR comments
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/run-test.ts
  yarn.lock
Owners: @m-rousse, @DataDog/synthetics-worker, @yoannmoinet

v0.17.6
  package.json
Owners: @yoannmoinet, @m-rousse

[synthetics] enrich ci metadata w/ ci-app spans
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/utils.ts
  src/helpers/__tests__/ci.test.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/ci.ts
  src/helpers/interfaces.ts
  src/helpers/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker, @DataDog/ci-app-tracers, @yoannmoinet

add needed functions to un-instrument tags, subscriptions, environment variables and layers
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/functions/uninstrument.ts
  src/commands/lambda/interfaces.ts
  src/commands/lambda/loggroup.ts
  src/commands/lambda/tags.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Update README.md
  src/commands/synthetics/README.md
Owners: @DataDog/documentation

Make documentation about git metadata collection more concise.
  src/commands/sourcemaps/README.md
Owners: @DataDog/documentation

.github/CODEOWNERS:

* @yoannmoinet @m-rousse

src/commands
src/commands/synthetics  @m-rousse @DataDog/synthetics-worker
src/commands/lambda @DataDog/serverless
src/commands/sourcemaps/ @DataDog/source-code-integration
*.md @DataDog/documentation
src/commands/junit @DataDog/ci-app-tracers
src/commands/dsyms @DataDog/rum-mobile
src/helpers/ci.ts @DataDog/ci-app-tracers
src/helpers/git.ts @DataDog/ci-app-tracers
src/helpers/user-provided-git.ts @DataDog/ci-app-tracers
src/helpers/__tests__/ci-env @DataDog/ci-app-tracers
src/helpers/__tests__/ci.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/git.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/user-provided-git.test.ts @DataDog/ci-app-tracers
