Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/documentation, @DataDog/ci-app-tracers, @DataDog/rum-mobile

.github/CODEOWNERS:

* @yoannmoinet @m-rousse

src/commands
src/commands/synthetics  @m-rousse @DataDog/synthetics-worker
src/commands/lambda @DataDog/serverless
src/commands/sourcemaps/ @DataDog/source-code-integration
*.md @DataDog/documentation
src/commands/junit @DataDog/ci-app-tracers
src/commands/dsyms @DataDog/rum-mobile
src/helpers/ci.ts @DataDog/ci-app-tracers
src/helpers/git.ts @DataDog/ci-app-tracers
src/helpers/user-provided-git.ts @DataDog/ci-app-tracers
src/helpers/__tests__/ci-env @DataDog/ci-app-tracers
src/helpers/__tests__/ci.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/git.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/user-provided-git.test.ts @DataDog/ci-app-tracers

Fix test
  src/commands/synthetics/__tests__/utils.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Fix more test
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Add license
  LICENSE-3rdparty.csv
Owners: @yoannmoinet, @m-rousse

Add tests
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Linting
  src/commands/synthetics/__tests__/reporters/junit.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Update test typings
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/interfaces.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Apply suggestions from code review
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Apply review suggestions
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Linting
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/interfaces.ts
Owners: @m-rousse, @DataDog/synthetics-worker

 wip
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Update types
  package.json
  yarn.lock
Owners: @yoannmoinet, @m-rousse

Remove step details and only report errors
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Fix types
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Fix location display
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Format
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/junit.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics-command] change ovveride order
  src/commands/synthetics/README.md
  src/commands/synthetics/run-test.ts
Owners: @DataDog/documentation, @m-rousse, @DataDog/synthetics-worker

Fix utils tests
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/utils.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Update src/commands/synthetics/README.md
  src/commands/synthetics/README.md
Owners: @DataDog/documentation

[synthetics-command] test: change override order
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

add more tests for regex and update docs in readme
  src/commands/lambda/README.md
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/documentation, @DataDog/serverless

Revert "add first draft to grab all functions"
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

refactor code to fetch all lambda functions
  src/commands/lambda/function.ts
Owners: @DataDog/serverless

Updating instrument command to look for git status and respond accordingly
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

[synthetics-command] lint
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[refactor] separate run-test logic from cli
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/index.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] add support for proxy env var
  src/commands/synthetics/api.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] test: add mock synthetics proxy fixture
  src/commands/synthetics/__tests__/fixtures.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] test: add api & tunnel proxy config tests
  src/commands/synthetics/__tests__/api.test.ts
  src/commands/synthetics/__tests__/tunnel.test.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] test: add parseProxyConfigFromEnv tests
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] test: fix tunnel proxy expect for ci
  src/commands/synthetics/__tests__/tunnel.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

add basic commands
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

remove shorthand for --functions-regex
  src/commands/lambda/README.md
  src/commands/lambda/instrument.ts
Owners: @DataDog/documentation, @DataDog/serverless

Update typings
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Use testCase name instead of testSuite
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Format
  src/commands/synthetics/__tests__/reporters/junit.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

reformat interfaces to be in a single file
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/interfaces.ts
  src/commands/lambda/loggroup.ts
  src/commands/lambda/tags.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Revert unnecessary change
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

add config command and check if functions have been specified
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

refactor code and set common ground for uninstrumenting functions through array or config file
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Only what's needed
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker
