Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/documentation, @DataDog/ci-app-tracers, @DataDog/rum-mobile

.github/CODEOWNERS:

* @yoannmoinet @m-rousse

src/commands
src/commands/synthetics  @m-rousse @DataDog/synthetics-worker
src/commands/lambda @DataDog/serverless
src/commands/sourcemaps/ @DataDog/source-code-integration
*.md @DataDog/documentation
src/commands/junit @DataDog/ci-app-tracers
src/commands/dsyms @DataDog/rum-mobile
src/helpers/ci.ts @DataDog/ci-app-tracers
src/helpers/git.ts @DataDog/ci-app-tracers
src/helpers/user-provided-git.ts @DataDog/ci-app-tracers
src/helpers/__tests__/ci-env @DataDog/ci-app-tracers
src/helpers/__tests__/ci.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/git.test.ts @DataDog/ci-app-tracers
src/helpers/__tests__/user-provided-git.test.ts @DataDog/ci-app-tracers

v0.17.0
  package.json
Owners: @yoannmoinet, @m-rousse

Fix tests
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Fix timestamp
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Lint
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

v0.17.1
  package.json
Owners: @yoannmoinet, @m-rousse

added a ci query param to the result url of tests
  src/commands/synthetics/reporters/default.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[refactor] move bulk of reporter into cli
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/errors.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] test: mock tunnel ws connection in fixture proxy
  src/commands/synthetics/__tests__/fixtures.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] tunnel: replace custom proxy env parsing w/ ProxyAgent
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/websocket.ts
  src/helpers/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker, @yoannmoinet

[synthetics] tests: replace websocket mocks w/ proxy server
  src/commands/synthetics/__tests__/api.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/__tests__/tunnel.test.ts
  src/commands/synthetics/__tests__/websocket.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[synthetics] fix linting issues
  src/commands/synthetics/__tests__/websocket.test.ts
  src/commands/synthetics/run-test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

update naming, add function to check whether a function is instrumented using only layer lookup, and minor tweaks in instrumentation
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/function.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

add proper format to commands
  src/commands/lambda/README.md
Owners: @DataDog/documentation

Checking for DD API KEY and added unit tests
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

Running yarn format
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/instrument.ts
Owners: @DataDog/serverless

[utils] remove `disableEnvironmentVariables` support
  src/commands/synthetics/__tests__/tunnel.test.ts
  src/commands/synthetics/websocket.ts
  src/helpers/__tests__/utils.test.ts
  src/helpers/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker, @yoannmoinet

[refactor] separate run-tests and cli tests
  src/commands/synthetics/__tests__/cli.test.ts
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/run-test.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

retrieve information for lambdas instrumented with extension
  src/commands/lambda/function.ts
  src/commands/lambda/loggroup.ts
  src/commands/lambda/tags.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Create report even in directories
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Fix error reporting
  src/commands/synthetics/__tests__/fixtures.ts
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Lint
  src/commands/synthetics/__tests__/reporters/junit.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

v0.17.2
  package.json
Owners: @yoannmoinet, @m-rousse

Confirm that it didn't throw on existing directory
  src/commands/synthetics/__tests__/reporters/junit.test.ts
Owners: @m-rousse, @DataDog/synthetics-worker

v0.17.3
  package.json
Owners: @yoannmoinet, @m-rousse

fix gitlab branch
  src/helpers/__tests__/ci-env/gitlab.json
  src/helpers/ci.ts
Owners: @DataDog/ci-app-tracers

fix test
  src/helpers/__tests__/ci.test.ts
Owners: @DataDog/ci-app-tracers

address PR review comments
  src/commands/synthetics/__tests__/reporters/default.test.ts
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/errors.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/run-test.ts
  src/types/index.d.ts
  tsconfig.json
Owners: @m-rousse, @DataDog/synthetics-worker, @yoannmoinet

Typing errors
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/interfaces.ts
  src/commands/synthetics/reporters/default.ts
  src/commands/synthetics/run-test.ts
  src/commands/synthetics/utils.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Consider timeouts as errors in junit report
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

v0.17.4
  package.json
Owners: @yoannmoinet, @m-rousse

separate functions into different files, do the same for unit tests
  src/commands/lambda/__tests__/function.test.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/functions/instrument.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/functions/instrument.ts
  src/commands/lambda/functions/uninstrument.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/interfaces.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

move collectFunctionsByRegion to commons.ts, also its tests
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/functions/uninstrument.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

[ci-app] Fix Gitlab Branch Extraction (#387)
  src/helpers/__tests__/ci-env/gitlab.json
  src/helpers/__tests__/ci.test.ts
  src/helpers/ci.ts
Owners: @DataDog/ci-app-tracers

Be explicit about passing and timeout
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Use strings
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

Sort
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

[dependencies] update proxy-agent to fix vulnerability
  package.json
  yarn.lock
Owners: @yoannmoinet, @m-rousse

v0.17.5
  package.json
Owners: @yoannmoinet, @m-rousse

Add allowed_error to the report
  src/commands/synthetics/__tests__/reporters/junit.test.ts
  src/commands/synthetics/reporters/junit.ts
Owners: @m-rousse, @DataDog/synthetics-worker

move reportCiError to cli
  jest.config.js
  package.json
  src/commands/synthetics/__tests__/run-test.test.ts
  src/commands/synthetics/cli.ts
  src/commands/synthetics/errors.ts
  src/types/index.d.ts
Owners: @yoannmoinet, @m-rousse, @DataDog/synthetics-worker
