Repository DataDog/datadog-ci, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/datadog-ci, @DataDog/ci-app-libraries, @DataDog/static-analysis-core, @DataDog/rum-mobile, @DataDog/serverless, @DataDog/source-code-integration, @DataDog/synthetics-ct, @DataDog/documentation

.github/CODEOWNERS:

* @DataDog/datadog-ci


# Commands

## CI Visibility
src/commands/junit   @DataDog/ci-app-libraries
src/commands/gate    @DataDog/ci-app-libraries
src/commands/metric  @DataDog/ci-app-libraries
src/commands/tag     @DataDog/ci-app-libraries
src/commands/trace   @DataDog/ci-app-libraries

## Static Analysis
src/commands/sarif   @DataDog/static-analysis-core

## RUM
src/commands/dsyms            @DataDog/rum-mobile
src/commands/flutter-symbols  @DataDog/rum-mobile
src/commands/react-native     @DataDog/rum-mobile

## Serverless
src/commands/lambda  @DataDog/serverless
src/commands/stepfunctions  @DataDog/serverless

## Source Code Integration
src/commands/git-metadata  @DataDog/source-code-integration
src/commands/sourcemaps    @DataDog/source-code-integration

## Synthetics
src/commands/synthetics  @DataDog/synthetics-ct


# Shared utilities

## Git
src/helpers/git  @DataDog/ci-app-libraries @DataDog/source-code-integration

## CI
src/helpers/file.ts                              @DataDog/ci-app-libraries
src/helpers/ci.ts                                @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/tags.ts                              @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/user-provided-git.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci-env                     @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/ci.test.ts                 @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/tags.test.ts               @DataDog/ci-app-libraries @DataDog/synthetics-ct
src/helpers/**tests**/user-provided-git.test.ts  @DataDog/ci-app-libraries @DataDog/synthetics-ct


# Documentation
*.md  @DataDog/documentation

Update snapshot
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
Owners: @DataDog/serverless

Rename info -> insights
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Fix for loop not returning correct framework
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Add tests
  src/commands/lambda/__tests__/flare.test.ts
Owners: @DataDog/serverless

Update `writeFile()` error message
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Implemented dry run feature
  src/commands/gate/api.ts
  src/commands/gate/evaluate.ts
  src/commands/gate/interfaces.ts
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Implemented dry run feature
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Remove renderDryRunEvaluation, as it is not used
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Remove renderDryRunEvaluation import
  src/commands/gate/evaluate.ts
Owners: @DataDog/ci-app-libraries

Refactor dry run evaluation rendering
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Remove unused import
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Apply prettier
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Render dry run evaluation even if no rules are found
  src/commands/gate/renderer.ts
Owners: @DataDog/ci-app-libraries

Get service configuration
  package.json
  src/commands/cloud-run/flare.ts
  yarn.lock
Owners: @DataDog/datadog-ci

Add `yaml` alternatives for each `yml` file in constants. Remove `rollup.config.js`
  src/commands/lambda/constants.ts
Owners: @DataDog/serverless

Refactoring file system methods (work in progress)
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/__snapshots__/fileSystem.test.ts.snap
  src/helpers/__tests__/fileSystem.test.ts
  src/helpers/fileSystem.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update snapshots
  src/commands/cloud-run/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
Owners: @DataDog/datadog-ci, @DataDog/serverless

Add test for `requestFilePath()` in `prompt.test.ts`
  src/commands/lambda/__tests__/prompt.test.ts
Owners: @DataDog/serverless

Move base URL computation to common package
  src/commands/junit/utils.ts
  src/commands/synthetics/__tests__/utils.test.ts
  src/commands/synthetics/utils.ts
  src/helpers/__tests__/app.test.ts
  src/helpers/app.ts
Owners: @DataDog/ci-app-libraries, @DataDog/synthetics-ct, @DataDog/datadog-ci

lint
  src/commands/junit/utils.ts
  src/commands/synthetics/utils.ts
  src/helpers/__tests__/app.test.ts
  src/helpers/app.ts
Owners: @DataDog/ci-app-libraries, @DataDog/synthetics-ct, @DataDog/datadog-ci

Added unit test for dry run
  src/commands/gate/__tests__/evaluate.test.ts
Owners: @DataDog/ci-app-libraries

adding test for other site
  src/helpers/__tests__/app.test.ts
Owners: @DataDog/datadog-ci

update env var and add docs
  src/commands/junit/README.md
  src/commands/junit/utils.ts
Owners: @DataDog/documentation, @DataDog/ci-app-libraries

Allow adding multiple files with the same file name but different paths
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Rename var names for more clarity
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

Write file, zip, and send to Datadog
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/functions/commons.test.ts
  src/commands/lambda/__tests__/functions/instrument.part1.test.ts
  src/commands/lambda/__tests__/functions/uninstrument.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/functions/commons.ts
  src/commands/lambda/functions/instrument.ts
  src/commands/lambda/functions/uninstrument.ts
  src/commands/lambda/prompt.ts
  src/constants.ts
  src/helpers/__tests__/__snapshots__/fileSystem.test.ts.snap
  src/helpers/__tests__/__snapshots__/flareFunctions.test.ts.snap
  src/helpers/__tests__/fileSystem.test.ts
  src/helpers/__tests__/flareFunctions.test.ts
  src/helpers/fileSystem.ts
  src/helpers/flareFunctions.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Update license
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Fix csv
  LICENSE-3rdparty.csv
Owners: @DataDog/datadog-ci

Improve readability nits
  src/commands/lambda/flare.ts
Owners: @DataDog/serverless

[lambda][flare] Autodiscover project files and prompt for additional files (#962)
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/__tests__/instrument.test.ts
  src/commands/lambda/__tests__/prompt.test.ts
  src/commands/lambda/__tests__/uninstrument.test.ts
  src/commands/lambda/constants.ts
  src/commands/lambda/flare.ts
  src/commands/lambda/instrument.ts
  src/commands/lambda/prompt.ts
  src/commands/lambda/renderers/flare-renderer.ts
  src/commands/lambda/uninstrument.ts
Owners: @DataDog/serverless

Move `createDirectories()` to commons
  src/commands/cloud-run/flare.ts
  src/commands/lambda/__tests__/__snapshots__/flare.test.ts.snap
  src/commands/lambda/__tests__/flare.test.ts
  src/commands/lambda/flare.ts
  src/helpers/__tests__/__snapshots__/fileSystem.test.ts.snap
  src/helpers/__tests__/fileSystem.test.ts
  src/helpers/fileSystem.ts
  src/helpers/renderer.ts
Owners: @DataDog/datadog-ci, @DataDog/serverless

Add DD_TRACE_ENABLED for stepfunctions instrument and warning for legacy lambda integration
  src/commands/stepfunctions/constants.ts
  src/commands/stepfunctions/helpers.ts
  src/commands/stepfunctions/instrument.ts
Owners: @DataDog/serverless

Mention that the command should be ran in the root of the project directory
  src/commands/lambda/README.md
Owners: @DataDog/documentation

test cache
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

use correct install
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

use correct name
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

ITR OFF
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

use installed version
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

yarn install
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci

only test cache
  .github/workflows/ci.yml
Owners: @DataDog/datadog-ci
